/* SECTION */
.wcg-wrapper {
  background: #f2f2f2;
  padding: 80px 6%;
  text-align: center;
}

/* HEADING */
.wcg-heading h2 {
  font-size: 64px;
  font-family: serif;
  font-weight: 500;
  margin: 10px 0 50px;
}

.wcg-sub {
  letter-spacing: 3px;
  color: #6a7b63;
  font-weight: 600;
}

.wcg-heart {
  color: #6a7b63;
  font-size: 22px;
}

/* GRID */
.wcg-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
}

/* ITEMS */
.wcg-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.wcg-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.4s;
  
}

/* CIRCLE FRAME */
.wcg-circle img {
   border-radius: 200px 200px 0 0;
}

/* HALF ROUNDED FRAME */
.wcg-rounded img {
  border-radius: 180px;
}

/* HOVER */
.wcg-hover {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.wcg-item:hover img {
  transform: scale(1.08);
}

.wcg-item:hover .wcg-hover {
  opacity: 1;
}

/* ===== LIGHTBOX ===== */
.wcg-lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wcg-popupImg {
  max-width: 750px;
  width: 90%;
  max-height: 85vh;
  object-fit: contain;
}

/* TOP BAR */
.wcg-topbar {
  position: absolute;
  top: 15px;
  left: 25px;
  right: 25px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.wcg-icons svg {
  margin-left: 18px;
  cursor: pointer;
}

/* NAV */
.wcg-prev,
.wcg-next {
  position: absolute;
  background: rgba(255,255,255,0.15);
  border: none;
  color: #fff;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
}

.wcg-prev { left: 25px; }
.wcg-next { right: 25px; }

/* RESPONSIVE */
@media (max-width: 992px) {
  .wcg-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .wcg-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .wcg-heading h2 {
    font-size: 40px;
  }
}