@import "tailwindcss";

/* Hide scrollbar but keep scroll working */
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-y-scroll {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}